* {
    box-sizing: border-box;
  }
  
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  #email{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: black;
    margin-left: 250px;
    width: 700px;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    background-color: thistle; 
    float: centre;
    width: 70%;
    margin-top: 3px;
    margin-bottom: 50px;
    padding: 20px;
    margin-left: 100px;
  }
  
  /* Clear floats after the columns */
  .row:after {
   
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  #submit{
    background-color: green;
    color: white;
    font-weight: bold;
    margin-left: 170px;
    width: 100px;
    height: 40px;
  }
  